<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zavanton.appactionsdemo">

    <application
        android:name="com.zavanton.appactionsdemo.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppActionsDemo">

        <!--   set up actions     -->
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--    deep links        -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zavanton.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Define your SliceProvider -->
        <!-- This authority is used as urlTemplate for app actions with Slices -->
        <!-- And to grant access to SliceManager, see grantAssistantPermissions in App class -->
        <provider
            android:name=".slices.AccountInfoProvider"
            android:authorities="com.zavanton.slices.account.provider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.app.slice.category.SLICE" />
            </intent-filter>
        </provider>

    </application>
</manifest>